/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:01 PM
    Author     : frontend
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');


img{
    width: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    color: #5B6C94;
}

.container{
    max-width: 1140px;
}

h1, h2, h3, h4, h5, h46,
.h1, .h2, .h3, .h4, .h5, .h6{
    color: #031D5B;
}

.btc-shadow{
    box-shadow:  0 .5rem 1rem rgba(31,219,132,0.6);
}

.btc-btn{
    background-color: #1FDB84;
    color: #fff;
}

header{
    background-color: #313A5A;
}

/* navigation */

#main-manu form{
    padding-top: 13px;;
}

.navbar-light .navbar-toggler {
    border-color: #1FDB84;
}

.navbar-toggler span{
    width: 30px; 
    height: 3px;
    background-color: #1FDB84;
    display: block;
    margin-bottom: 5px;
}

.navbar-toggler span:last-of-type{
    margin-bottom: 0;
}

.navbar .navbar-nav .nav-item .nav-link{
    border-bottom: 2px solid #fff;
    color: #fff;
    line-height: 34px;
    text-align: center;
    padding-top: 30px;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover{
    border-bottom: 2px solid #1FDB84;
    animation: slideLeft 0.5s linear;
    animation-fill-mode: forwards;
}

.navbar .navbar-nav .nav-item .login{
    color: #1FDB84;
}

.navbar .register{
    border-color: #1FDB84;
    height: 40px;
    width: 100px;
}

.navbar .register:hover{
    color: #000;
}

/* section slider */

.slider-wrapper{
    background-color: #313A5A;
}

.slider-wrapper .lead-slider-content h1{
    font-size: 32px;
    line-height: 48px;
    color: #fff;
    font-weight: initial;
}

.slider-wrapper .lead-slider-content p{
    line-height: 24px;
    text-align: left;
    color: #fff;
}

.slider-wrapper .lead-slider-content .get-started{
    border-color: #1FDB84;
    height: 40px;
    width: 120px;
}

.slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #1FDB84;
    margin-bottom: 130px;
  }
  
  .slider-wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #1FDB84;
  }


/*top-articles*/

.top-articles{
    background-color: #fff;
    margin-top: -100px;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);    
}
.top-articles .top-articles-content{
    padding: 15px 5px 20px 10px;
}

.top-articles .top-articles-icon{
    width: 72px;
    height: 72px;
    border-radius: 6px;
    background-color: #c5fce3;
    font-size: 40px;
    line-height: 72px;
    text-align: center;
    color: #1FDB84;
}

.top-articles .content-title{
    font-size: 18px;
    padding-top: 26px;
}

.top-articles .content-title:after{
    content: '';
    height: 4px;
    width: 60px;
    background-color: #1FDB84;
    display: block;
    position: relative;
    margin-top: 22px;
}

.top-articles .top-articles-content p{
    color: #5B6C94;
    line-height: 32px;
}

/*section paid-plan*/

.paid-plan{
    position: relative;
}

.paid-plan .container:last-of-type{
    padding-top: 20px;
}

.paid-plan .paid-plan-title{
    font-size: 30px;
    color: #32325C;

}
.paid-plan .paid-plan-content{
    border-top: 3px solid transparent;
}

.paid-plan .paid-plan-content:hover {
    background-color: #fff;
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5); 
    border-top: 3px solid #0A8AFF;
}

.paid-plan .paid-plan-content p:first-of-type{
    color: #1FDB84;
}

.paid-plan .paid-plan-content .start-free-button{
    margin: auto;
}

/*section what*/

.what .what-title{
    background-position: left center;
    background-size: 50%;
    background-repeat: no-repeat;

}

.what .what-slider img{
    width: 63px;
    height: 40px;
}

.what-shadow-green{
    box-shadow: 12px 12px 15px 0 rgba(31,219,132,0.5);
}

.what-shadow-white{
    box-shadow: 12px 12px 40px 0 rgba(121,121,121,0.3);
}

.what-content .breadcrumb {
    background-color: transparent;

}

.what-content .breadcrumb .breadcrumb-item:first-of-type a{
    color: #fff;
    text-decoration: none;
}

.what-content .breadcrumb .breadcrumb-item:last-of-type{
    color:  #fff;
    opacity: 0.8;
}

.what-content .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.what-content .breadcrumb .breadcrumb-item a.second-what-a{
    color: #031D5B;
    text-decoration: none;
}

.what-content .breadcrumb-item + .breadcrumb-item.second-what-li{
    color: #031D5B;
    opacity: 0.4;
}

.breadcrumb-item + .breadcrumb-item.second-what-li:before{
    color: #031D5B;
}
.owl-carousel .owl-stage-outer {
    padding: 10px 10px 10px 0;
}
.owl-theme .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    margin: 5px 7px;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    border: 1px solid #1FDB84;
    transition: opacity 200ms ease;
    border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #1FDB84;
}


/*section gallery*/

.list-group {
    flex-direction: row;
}

.gallery-img .gallery-img-item{
    padding: 0;
}
.gallery-img .gallery-img-item .gallery-img-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 219, 132, 0.35);
    text-align: center;
}
.gallery-img .gallery-img-item:hover .gallery-img-hover{
    display: block;
}
.gallery-img .gallery-img-item figure{
    margin: 0;
}

.gallery-img .gallery-img-item figure .plus-hover{
    height: 50px;
    width: 50px;
    border: 3px #fff solid; 
    border-radius: 50%;
    line-height: 46px;
    margin-top: 38%;
}

.fa-plus::before {
    color: white;
    font-size: 25px;
}

/*section clients*/

.clients{
    margin-bottom: 60px;
}

.clients .nav .nav-item{
    flex: 1 1 50%;
}

.clients .nav li:nth-of-type(2) img{
    width: 60%;
}

.clients .nav li:nth-of-type(4) img{
    width: 65%;
}

/* footer */
footer .breadcrumb {
    background-color: transparent;
}
footer .breadcrumb .breadcrumb-item a,
footer .breadcrumb .breadcrumb-item:first-of-type a{
    	color: #5B6C94;
        font-family: Rubik;
        font-size: 12px;
        line-height: 32px;
        text-decoration: none;
}

footer .breadcrumb-item + .breadcrumb-item::before {
    color: #5B6C94;

}

@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slide-left{
    animation: slideLeft 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slide-right{
    animation: slideRight 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.slide-top{
    animation: slideTop 1s linear;
    animation-fill-mode: forwards;
}

@keyframes slideBottom{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.slide-bottom{
    animation: slideBottom 1s linear;
    animation-fill-mode: forwards;
}

.animation{
    position: relative;
    opacity: 0;
}

